@page
@model RegisterModel
@{ ViewData["Title"]= "Register";
}


<div class="text-center">
    <h1 class="display-4">Register User</h1>

    <form method="post">
    
    <p>Username:</p> <input name="username" type="text" placeholder="Create a username"/>
    
    
    <p>Password:</p> <input name="password" type="Password" placeholder="Create a password"/>

    </br>
    
    <button type="submit">Submit</button>
    </form>

   



</div>

