@page
@model RegisterModel
@{ ViewData["Title"]= "Register";
}


<div class="text-center">
    <h1 class="display-4">Register User</h1>

    <form>
    <p>Username:</p> <input username="username" type="text" placeholder="Type a username"/>
    <p>Password:</p> <input password="password" type="Password" placeholder="Type a password"/>
    </form>



</div>

